{% extends 'layout.html' %}
{% load static %}
{% block content %}
  <body>
    {% load static %}
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 mt-4">
          <h2>Lista de archivos</h2>
          <hr />
        </div>
        {% for row in data %}
          {% if row %}
            <div class="col-lg-3 col-md-2 col-sm-12 pb-4">
              <div class="card" style="display: grid;place-items: center;width: 300px; height: 260px;">
                <img src="{{row.imagen.url}}" class="card-img-top" alt="{{row.imagen.name}}" style="width: 100px;height: 100px;"/>
                <div class="card-body">
                  <p class="card-text" style="font-size: 11px;text-wrap: wrap;text-overflow: ellipsis;">{{row.imagen.name}}</p>
                  <a href="{{row.url}}" target="_blank" class="btn btn-primary bottom-0">Ver</a>
                  
                  <a href="/delete/{{row.name}}" class="btn btn-danger">Eliminar</a>
                  
                </div>
              </div>
            </div>
          {% endif %}
          <!--  -->
        {% empty %}
          <p>No hay registros</p>
        {% endfor %}
      </div>
    </div>
  </body>
{% endblock %}
